{% extends '::base.html.twig' %}

{% block title %}Reshop{% endblock %}
    
{% block body %}

    <div id="toolbar">
        <div class="container">
            <div class="sixteen columns clearfix">
                <a class="button right" href="#">
                    {{ 'Checkout'|trans }}
                </a>

                <a href="{{ url('cart_view') }}" class="shopping-cart right">
                    {{ cart().getSize() }}&nbsp;{% if cart().getSize() != 1 %}{{ 'products'|trans }}{% else %}{{ 'product'|trans }}{% endif %}
                </a>
                    
                <a href="{{ url('cart_view') }}" class="shopping-cart-icon right" title="{{ 'Shopping cart'|trans }}">
                    <img src="/images/cart.gif" alt="{{ 'Shopping cart'|trans }}" />
                </a>
            </div>
        </div>
    </div>
        
    <div class="container">
        <header class="sixteen columns clearfix">
            <div id="logo" class="four columns alpha add-bottom">
                reshop
            </div>
                
            <menu id="navigation" class="twelve columns omega add-bottom">
                <ul class="right">
                    <li class="column"><a href="{{ url('product_list') }}">{{ 'Products'|trans }}</a></li>
                    <li class="column"><a href="#">{{ 'Companies'|trans }}</a></li>
                    <li class="column"><a href="#">{{ 'About'|trans }}</a></li>
                </ul>
            </menu>
        </header>
    </div>

    <div class="container">
        <div id="content" class="sixteen columns">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}

{#<div class="container">
  
  <!-- Give column value in word form (one, two..., twelve) -->
  <div class="sixteen columns">
    <h1>Full Width Column</h1>
  </div>
  
  <!-- Sweet nested columns cleared with a clearfix class -->
  <div class="six columns clearfix">
    <!-- In nested columns give the first column a class of alpha
    and the second a class of omega -->
    <div class="three columns alpha">...</div>
    <div class="three columns omega">...</div>
  </div>

  <!-- Sweet nested columns cleared by wrapping a .row -->
  <div class="five columns">
    <div class="row">
      <div class="three columns alpha">...</div>
      <div class="two columns omega">...</div>
    </div>
  </div>

  <!-- Sweet nested columns cleared by <br class="clear"> -->
  <div class="five columns">
    <div class="three columns alpha">...</div>
    <div class="two columns omega">...</div>
    <br class="clear" />
  </div>

  <!-- Can push over by columns -->
  <div class="five columns offset-by-one"></div>

</div>#}