{% extends 'ShopMainBundle::layout.html.twig' %}

{% block title %}{{ 'Edit product'|trans }} - {{ product.name }}{% endblock %}

{% block content %}
    
    <h1>{{ 'Edit product'|trans }}</h1>
    
    <div class="sixteen columns alpha omega">
        <form action="{{ url('product_edit', { 'id': product.id }) }}" method="post" {{ form_enctype(form) }}>
            {% include 'ShopProductBundle:Product:form.html.twig' with { 'form': form } %}
        </form>
    </div>
    
{% endblock %}