<nav id="filter" class="sixteen columns alpha omega add-bottom clearfix" style="z-index: 1;">
    <div class="three columns alpha half-bottom left"><a href="#" class="button">{{ 'All brands'|trans }}</a></div>
    <ul id="brand-list" class="twelve columns omega clearfix">
        {% for brand in brands %}
            <li class="brand half-bottom left">
                <a href="#" data-slug="{{ brand.slug }}">
                    <img src="/images/hanger.jpg" alt="{{ brand.name }}" title="{{ brand.name }}" class="brand-image" />
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="sixteen columns clearfix left">&nbsp;</div>

    <div class="three columns alpha add-bottom clearfix left">
        <a href="#" class="button show-all-categories">
            {{ 'All categories'|trans }}
        </a>
    </div>
    
    <ul id="category-list" class="twelve columns omega">
        {% for category in categories %}
            <li class="category half-bottom left">
                <h2 class="default">
                    <a href="/tuotteet/{{ category.slug }}" data-slug="{{ category.slug }}" class="default">{{ category.name }}</a>
                </h2>
            </li>
        {% endfor %}
    </ul>
</nav>