{% for product in products %}
    <div class="four columns add-bottom product">
        <a href="{{ url('product_view', { slug: product.id }) }}">
            <img src="/images/placeholder.png" class="four columns alpha omega" />
        </a>

        <div class="four columns alpha omega">
            <h3 class="default">
                <a href="{{ url('product_view', { slug: product.id }) }}" class="default">{{ product.name }}</a>
            </h3>
            
            <a href="#" class="default"><small class="left">{{ product.brand.name }}</small></a>
            <strong class="right">{{ product.priceWithTax|money }}</strong>
        </div>
    </div>
{% else %}
    <div class="three columns alpha">&nbsp;</div>

    <div class="thirteen columns omega">
        {{ 'No products found for current criteria.'|trans }}
    </div>
{% endfor %}
    
<nav id="paginator">
    {{ products.render()|raw }}
</nav>