{% extends 'ShopMainBundle::layout.html.twig' %}

{% block title %}{{ product.name }} - {{ product.brand.name }}{% endblock %}

{% block content %}
    <div class="sixteen columns alpha omega">
        <h1 class="half-bottom left">{{ product.name }}</h1>
    </div>

    <div class="sixteen columns alpha omega">
        <div class="ten columns alpha">
            <img src="/images/placeholder.png" class="ten columns alpha omega" alt="{{ product.name }}, {{ product.brand.name }}" />
            
            <img src="/images/placeholder-2.png" class="ten columns alpha omega" alt="{{ product.name }}, {{ product.brand.name }}" />
        </div>

        <div class="six columns omega">
            <h2 class="six columns alpha omega add-bottom">
                <a href="{{ url('product_filter_brand', { 'brand': product.brand.slug }) }}" class="default"
                   title="{{ 'Browse all'|trans }} {{ product.brand.name }} {{ '-products'|trans }}">
                    {{ product.brand.name }}
                </a>
            </h2>
            
            <article class="six columns alpha omega add-bottom justify">
                {{ product.description }}
            </article>
                
            {% if product.customizable %}
                <article class="six columns alpha omega justify smaller half-bottom">
                    <aside class="one columns alpha">
                        <img src="/images/scissors.gif" alt="" class="left" title="{{ 'This product is customizable'|trans }}" />
                    </aside>

                    <div class="five columns omega">
                        {{ 'text.product.customizable'|trans }} 
                        <a href="#">{{ 'text.product.contact.us'|trans }}</a>
                    </div>
                </article>
            {% endif %}
            
            <div class="six columns alpha omega">&nbsp;</div>
                
            <div class="six columns alpha omega add-bottom">
                <div class="two columns alpha">
                    <h2>{{ product.priceWithTax|money }}</h2>
                </div>

                <div class="four columns omega">
                    {% if not sold and not reserved %}
                        <a href="#" class="button right">{{ 'Add to cart'|trans }}</a>
                    {% elseif sold %}
                        <div class="sold right" title="{{ 'Would you still like to buy this?'|trans }}"><div>{{ 'Sold'|trans }}</div></div>
                        <a class="button right disabled" title="{{ 'Would you still like to buy this?'|trans }}">{{ 'Add to cart'|trans }}</a> 
                    {% else %}
                        <a class="button right disabled" title="{{ 'You already have this product in your cart'|trans }}">{{ 'Add to cart'|trans }}</a>
                    {% endif %}
                        
                    {#<input class="right center" type="text" id="product-count" size="2" value="1"></input>#}
                </div>                    
            </div>
                
            <div class="six columns alpha omega">
                <a href="{% if history %}{{ history }}{% else %}{{ url('product_index') }}{% endif %}" id="continue-shopping" class="button right">
                    &nbsp;{{ 'Continue shopping?'|trans }}&nbsp;
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}