{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
    <div class="sixteen columns alpha omega">
        <h1 class="half-bottom left">{{ product.name }}</h1>
    </div>


    <div class="sixteen columns alpha omega">      
        <img src="/images/placeholder.png" class="ten columns alpha" alt="{{ product.name }}, {{ product.brand.name }}" />
        
        <div class="six columns omega">
            <h2 class="six columns alpha omega add-bottom">
                <a href="{{ url('product_filter_brand', { 'brand': product.brand.slug }) }}" class="default"
                   title="{{ 'Browse all'|trans }} {{product.brand.name}}{{ '-products'|trans }}">
                    {{ product.brand.name }}
                </a>
            </h2>
            
            <article class="six columns alpha omega add-bottom justify">
                {{ product.description }}   
            </article>
            
            <div class="six columns alpha omega add-bottom">
                <div class="two columns alpha">
                    <h2>{{ product.priceWithTax|money }}</h2>
                </div>

                <div class="four columns omega">
                    <a href="#" class="button right">{{ 'Add to cart'|trans }}</a>
                    {#<input class="right center" type="text" id="product-count" size="2" value="1"></input>#}
                </div>                    
            </div>
                
            <div class="six columns alpha omega">
                <a href="#" class="button right ">&nbsp;{{ 'Continue shopping?'|trans }}&nbsp;</a>
            </div>
        </div>
    </div>
    
{% endblock %}