<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href="{{ asset('css/base.css') }}"     rel="stylesheet" type="text/css" media="all"></link>
        <link href="{{ asset('css/skeleton.css') }}" rel="stylesheet" type="text/css" media="all"></link>
        <link href="{{ asset('css/layout.css') }}"   rel="stylesheet" type="text/css" media="all"></link>
        <link href="{{ asset('css/tipsy.css') }}"    rel="stylesheet" type="text/css" media="all"></link>
        
        <link href='http://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'>
        
        {% stylesheets filter='less' output='/css/shop.css' '@ShopMainBundle/Resources/less/shop.less' %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
        {% endstylesheets %}
                
        {% block stylesheets %}{% endblock %}
        
        <script src="{{ asset('js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.tipsy.js') }}"     type="text/javascript"></script>
        <script src="{{ asset('js/tabs.js') }}"             type="text/javascript"></script>
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            
        {% javascripts output="/js/shop.js" filter="coffee, ?yui_js"
            '@ShopMainBundle/Resources/coffee/shop.coffee'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
